.navbar {
    background: pink;
    height: 60px;
}
body {
    background: #eeeeee;
}

.thead_list {
    color: white;
    background: #41a2e6;
    text-align:center;
}
.application_button {
    width:70px;
    background-color:lightgreen;
}
.saturday {
    background-color:lightskyblue;
}
.div10 {
    height:10px;
}
.div30 {
    height:30px;
}
.div50 {
    height:50px;
}
.back_button {
    width:70px;
    background-color:lightgreen;
}
.buttonbigsize {
    font-size:30px;
    width:200px;
    height:50px;
    background-color:lightyellow;
}

