{% load static %}
<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/roster_main.css' %}">
        <meta name="viewport" content="width=device-width, user-scale=yes, initial-scale=1.0, maximum-scale=5.0" />
    </head>
    <body>
<!--        <form method="post" action="{% url 'login' %}">-->
        <form action="post">
            <table>
                <tr>
                    <td>
                        <H1 class="title-header">ログイン画面</H1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>ユーザー名</span>
                        <input type="text" name="userid" class="textsize"></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>パスワード</span>
                        <input type="password" name="password" class="textsize"></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="error-message">{{ errorMessage }}</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" name="btn_login" value="ログイン" class="application-button">
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="../logininput">新規に登録する場合はこちら</a>
                    </td>
                </tr>
            </table>
        </form>
    </body>
<html>




