{% load static %}
<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'roster_main.css' %}">
    </head>
    <body>
        <table>
            <tr>
                <td>
                    <H1>出退勤登録</H1>
                    <H2>AAAさんようこそ(会員ID:12345)</H2>
                </td>
            </tr>
            <tr>
                <td>
                    <span>2021年8月1日9時22分32秒(Ajaxにする)</span><br>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="attendance" class="buttonbigsize" value="出勤" onclick="alert('出勤しました。(9:23:23)')"></button>
                </td>
            </tr>
             <div class="div30"></div>
            <tr>
                <td>
                    <input type="button" name="departure" class="buttonbigsize" value="退勤" onclick="alert('退勤しました。(19:22:22)')"></button>
                </td>
            </tr>
             <div class="div30"></div>
            <tr>
                <td>
                    <input type="button" name="rosterlist" class="buttonbigsize" value="出退勤一覧" onclick="location.href='../list'"></button>
                </td>
            </tr>
             <div class="div30"></div>
            <tr>
                <td>
                    <input type="button" name="logout" class="buttonbigsize" value="ログアウト" onclick="alert('ログアウト')"></button>
                </td>
            </tr>
        </table>
    </body>
<html>




