{% load static %}
<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'roster_main.css' %}">
    </head>
    <body>
        <form method="post" action="{% url 'login' %}">
            <table>
                <tr>
                    <td>
                        <H1 class="title_header">ログイン画面</H1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>ユーザー名</span>
                        <input type="text" name="name" class="textsize"></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>パスワード</span>
                        <input type="password" name="pass" class="textsize"></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" name="login" value="ログイン" class="application_button">
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="../logininput">ログイン画面をお持ちですか？</a>
                    </td>
                </tr>
            </table>
        </form>
    </body>
<html>




