{% load static %}
<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'app_rosters/roster_main.css' %}">
        <meta name="viewport" content="width=device-width, user-scale=yes, initial-scale=1.0, maximum-scale=5.0" />
    </head>
    <body>
        <table>
            <input type="button" class="back-button" value="戻る" onclick="location.href='../login'">
            <tr>
                <td style="width:200px;">
                    <H1 class="title-header">会員登録画面</H1>
                </td>
            </tr>
            <tr>
                <td>
                    <span>名前</span>
                    <input type="text" name="name" class="textsize"></button>
                </td>
            </tr>
            <tr>
                <td>
                    <span>住所</span>
                    <input type="text" name="addr" class="textsize"></button>
                </td>
            </tr>
            <tr>
                <td>
                    <span>電話番号</span>
                    <input type="text" name="tel" class="textsize"></button>
                </td>
            </tr>
            <tr>
                <td>
                    <span>性別</span>
                    <input type="radio" name="sex" value="male">男性
                    <input type="radio" name="sex" value="female">女性
                </td>
            </tr>
            <tr>
                <td>
                    <span>社員区分</span>
                    <select name="contract">
                        <option value="1">社員</option>
                        <option value="2">契約社員</option>
                        <option value="3">パート</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <span>備考</span>
                    <textarea name="memo" class="textsize" cols="30" rows="20" style="height:100px"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" name="login" value="ログイン" class="application-button">
                </td>
            </tr>
        </table>
    </body>
<html>




