{% load static %}
<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'roster_main.css' %}">
        <meta name="viewport"
           content="width=320,
              height=480,
              initial-scale=1.0,
              minimum-scale=1.0,
              maximum-scale=2.0,
              user-scalable=yes" />
    </head>
    <body>
        <table>
            <tr>
                <td>
                    <H1 class="title-header">出退勤登録</H1>
                    <H2 class="title-header">AAAさんようこそ(会員ID:12345)</H2>
                </td>
            </tr>
            <tr>
                <td>
                    <span>2021年8月1日9時22分32秒(Ajaxにする)</span><br>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="attendance" class="big-button" value="出勤" onclick="alert('出勤しました。(9:23:23)')"></button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" name="departure" class="big-button" value="退勤" onclick="alert('退勤しました。(19:22:22)')"></button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" name="rosterlist" class="big-button" value="出退勤一覧" onclick="location.href='../list'"></button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" name="logout" class="big-button" value="ログアウト" onclick="alert('ログアウト')"></button>
                </td>
            </tr>
        </table>
    </body>
<html>




