<style>
    body {
        background: #eeeeee;
    }
    .textsize {
        font-size:30px;
        width:200px;
        height:30px;
        background-color:lightyellow;
    };
    .buttonsize {
        background-color:lightyellow;
    };
    .div10 {
        height:10px;
    };
    .div30 {
        height:30px;
    };
    .div50 {
        height:50px;
    };
</style>

<!DOCTYPE HTML>
<html>
    <head></head>
    <body>
        <table>
            <tr>
                <td style="width:50px;">
                    <H1>ログイン画面</H1>
                </td>
            </tr>
            <tr>
                <td>
                    <span">ユーザー名</span>
                    <input type="text" name="name" class="textsize"></button>
                </td>
            </tr>
             <div class="div30"></div>
            <tr>
                <td>
                    <span>パスワード</span>
                    <input type="password" name="pass" class="textsize"></button>
                </td>
            </tr>
             <div class="div30"></div>
            <tr>
                <td>
                    <input type="button" name="login" value="ログイン" class="buttonsize">
                </td>
            </tr>
        </table>
    </body>
<html>




