{% load static %}
<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/uma_main.css' %}">
        <meta name="viewport" content="width=device-width, user-scale=yes, initial-scale=1.0, maximum-scale=5.0" />
    </head>
    <body>
        <input type="button" class="uma-back-button" value="戻る" onclick="location.href='../umacomptool'">
        <h1>カードスキルマスタ検索画面({{ count }}件)</h1>
        <div class="tablefix">
            <table border="1px">
                <th nowrap>タイプ名称</th>
                <th nowrap >カード名称</th>
                <th nowrap >画像</th>
                <th nowrap>イベントタイプ名称</th>
                <th nowrap>スキル名称</th>
                <th nowrap>スキル内容</th>
                <th nowrap>ソート順</th>
                <th nowrap>イベントタイプ</th>
                <th nowrap>同一カード数</th>

                {% for cdm in cardSkillMaster %}
                <tr>
                    {% ifchanged cdm.cardId %}
                    <td nowrap rowspan={{ cdm.cardIdCount }}>{{ cdm.typeName }}</td>
                    <td nowrap rowspan={{ cdm.cardIdCount }}>{{ cdm.cardName }}</td>
                    <td nowrap rowspan={{ cdm.cardIdCount }}><img src="{% static cdm.url %}" width="150" height="200" ></td>
                    {% else %}
                    {% endifchanged %}
                    <td nowrap>{{ cdm.eventTypeName }}</td>
                    <td nowrap>{{ cdm.skillName }}</td>
                    <td nowrap>{{ cdm.skillContents }}</td>
                    <td nowrap>{{ cdm.sortNum }}</td>
                    <td nowrap>{{ cdm.eventType }}</td>
                    <td nowrap>{{ cdm.cardIdCount }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
<html>