{% load static %}
<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/uma_main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/roster_main.css' %}">
        <meta name="viewport" content="width=device-width, user-scale=yes, initial-scale=1.0, maximum-scale=5.0" />
    </head>
    <body>
        <input type="button" class="back-button" value="戻る" onclick="location.href='../umacomptool'">
        <h1>カードマスタ検索画面({{ count }}件)</h1>
        <table>
            {% for cdm in cardMaster %}
            <tr>
                <td>
                    {{ cdm.cardMasterId }}
                    {{ cdm.cardName }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
<html>
