{% load static %}
<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/uma_main.css' %}">
        <meta name="viewport" content="width=device-width, user-scale=yes, initial-scale=1.0, maximum-scale=5.0" />
    </head>
    <body>
        <input type="button" class="back-button" value="戻る" onclick="location.href='../umacomptool'">
        <h1>カードマスタ検索画面({{ count }}件)</h1>
        <table border="1px">
            <tr>
                <th class="_sticky">カード名称</th>
                <th class="_sticky">画像</th>
                <th class="_sticky">凸数</th>
                <th class="_sticky">カードタイプ名称</th>
                <th class="_sticky">レア度</th>
                <th class="_sticky">得意率</th>
                <th class="_sticky">やる気効果</th>
                <th class="_sticky">友情ボーナス</th>
                <th class="_sticky">トレーニング効果</th>
                <th class="_sticky">スピードボーナス</th>
                <th class="_sticky">スタミナボーナス</th>
                <th class="_sticky">パワーボーナス</th>
                <th class="_sticky">スキルPtボーナス</th>
                <th class="_sticky">根性ボーナス</th>
                <th class="_sticky">賢さボーナス</th>
                <th class="_sticky">賢さボーナス絆100</th>
                <th class="_sticky">ヒントLv</th>
                <th class="_sticky">ヒント発生率</th>
                <th class="_sticky">初期絆ゲージ</th>
                <th class="_sticky">初期スピード</th>
                <th class="_sticky">初期スタミナ</th>
                <th class="_sticky">初期パワー</th>
                <th class="_sticky">初期賢さ</th>
                <th class="_sticky">初期根性</th>
                <th class="_sticky">レースボーナス</th>
                <th class="_sticky">ファン数ボーナス</th>
                <th class="_sticky">イベント効果</th>
                <th class="_sticky">賢さ友情回復量</th>
                <th class="_sticky">イベント回復量</th>
                <th class="_sticky">体力消費ダウン</th>
                <th class="_sticky">失敗率ダウン</th>
                <th class="_sticky">URA上昇値(単/Lv5/友情/好)パラ1</th>
                <th class="_sticky">URA上昇値(単/Lv5/友情/好)パラ2</th>
                <th class="_sticky">URA上昇値(単/Lv5/友情/好)パラ3</th>
                <th class="_sticky">URA上昇値(単/Lv5/友情/好)パラ4</th>
                <th class="_sticky">アオハル上昇値(単/Lv5/友情/好)パラ1</th>
                <th class="_sticky">アオハル上昇値(単/Lv5/友情/好)パラ2</th>
                <th class="_sticky">アオハル上昇値(単/Lv5/友情/好)パラ3</th>
                <th class="_sticky">アオハル上昇値(単/Lv5/友情/好)パラ4</th>
            </tr>
            {% now "Y年m月d日" %}
            {% for cdm in cardMaster %}
            <tr>
                {% ifchanged cdm.cardId %}
                <td rowspan="5">{{ cdm.cardName }}</td>
                <td rowspan="5"><img src="{% static cdm.url %}" width="150" height="200" ></td>
                {% else %}
                {% endifchanged %}
                <td>{{ cdm.limitedOverNum }}</td>
                <td>{{ cdm.cardTypeName }}</td>
                <td>{{ cdm.rared }}</td>
                <td>{{ cdm.specialityRare }}</td>
                <td>{{ cdm.yarukiEffect }}</td>
                <td>{{ cdm.friendlyBonus }}</td>
                <td>{{ cdm.trainingEffect }}</td>
                <td>{{ cdm.speedBonus }}</td>
                <td>{{ cdm.staminaBonus }}</td>
                <td>{{ cdm.powerBonus }}</td>
                <td>{{ cdm.skillBonus }}</td>
                <td>{{ cdm.gutsBonus }}</td>
                <td>{{ cdm.wiseBonus }}</td>
                <td>{{ cdm.wiseBonus100 }}</td>
                <td>{{ cdm.hintLevel }}</td>
                <td>{{ cdm.hintIncidence }}</td>
                <td>{{ cdm.defaultKizunaGage }}</td>
                <td>{{ cdm.defaultSpeed }}</td>
                <td>{{ cdm.defaultStamina }}</td>
                <td>{{ cdm.defaultPower }}</td>
                <td>{{ cdm.defaultWise }}</td>
                <td>{{ cdm.defaultGuts }}</td>
                <td>{{ cdm.raceBonus }}</td>
                <td>{{ cdm.fanNumber }}</td>
                <td>{{ cdm.eventEffect }}</td>
                <td>{{ cdm.wiseFriendlyRecoverlyAmount }}</td>
                <td>{{ cdm.eventRecoveryAmont }}</td>
                <td>{{ cdm.lifeComsumptionDown }}</td>
                <td>{{ cdm.failureRateDown }}</td>
                <td>{{ cdm.ura_paramater1 }}</td>
                <td>{{ cdm.ura_paramater2 }}</td>
                <td>{{ cdm.ura_paramater3 }}</td>
                <td>{{ cdm.ura_paramater4 }}</td>
                <td>{{ cdm.aoharu_paramater1 }}</td>
                <td>{{ cdm.aoharu_paramater2 }}</td>
                <td>{{ cdm.aoharu_paramater3 }}</td>
                <td>{{ cdm.aoharu_paramater4 }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
<html>
