{% load static %}
<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/uma_main.css' %}">
        <meta name="viewport" content="width=device-width, user-scale=yes, initial-scale=1.0, maximum-scale=5.0" />
    </head>
    <body>
   
        <input type="button" class="uma-back-button" value="戻る" onclick="location.href='../umacomptool'">
        <h1>カードスキルマスタ検索画面({{ count }}件)</h1>
        <div class="tablefix">
            <table border="1px">
                <th nowrap>タイプ名称</th>
                <th nowrap >カード名称</th>
                <th nowrap >画像</th>
                <th nowrap>イベントタイプ名称</th>
                <th nowrap>スキル名称</th>
                <th nowrap>スキル内容</th>
                <th nowrap>ソート順</th>
                <th nowrap>イベントタイプ</th>
                <th nowrap>同一カード数</th>

                {% for cdm in cardSkillMaster %}
                <tr>
<!--                    <td nowrap rowspan={{ cdm.cardIdCount }}>{{ cdm.typeName }}</td>-->
<!--                    <td nowrap rowspan={{ cdm.cardIdCount }}>{{ cdm.cardName }}</td>-->
                    {% ifchanged cdm.cardId %}
                    <td nowrap rowspan={{ cdm.cardIdCount }}>{{ cdm.typeName }}</td>
                    <td nowrap rowspan={{ cdm.cardIdCount }}>{{ cdm.cardName }}</td>
                    <td nowrap rowspan={{ cdm.cardIdCount }}><img src="{% static cdm.url %}" width="75" height="100" ></td>
<!--                    <td nowrap rowspan={{ cdm.cardIdCount }}></td>-->
                    {% else %}
                    {% endifchanged %}
                    <td nowrap>{{ cdm.eventTypeName }}</td>
                    <td nowrap>{{ cdm.skillName }}</td>
                    <td nowrap>{{ cdm.skillContents }}</td>
                    <td nowrap>{{ cdm.sortNum }}</td>
                    <td nowrap>{{ cdm.eventType }}</td>
                    <td nowrap>{{ cdm.cardIdCount }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!--paging処理-->
        {% for post in post_list %}
            <p>{{ post.title }}</p>
        {% endfor %}
        <ul class="pagination">
            <!-- 前へ の部分 -->
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            <!-- 数字の部分 -->
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active"><a class="page-link" href="#!">{{ num }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            <!-- 次へ の部分 -->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </body>
<html>