{% load static %}
<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/uma_main.css' %}">
        <meta name="viewport" content="width=device-width, user-scale=yes, initial-scale=1.0, maximum-scale=5.0" />
    </head>
    <body>
        <input type="button" class="back-button" value="戻る" onclick="location.href='../umacomptool'">
        <h1>カードスキルマスタ検索画面({{ count }}件)</h1>
        <table border="1px">
            <th>ID</th>
            <th>カードメッセージマスタid</th>
            <th>カード種別</th>
            <th>カード種別名称</th>
            <th>カードID</th>
            <th>カード名称</th>
            <th>タイプNO</th>
            <th>メッセージID</th>
            <th>メッセージイベントID</th>
            <th>イベントタイプID</th>
            <th>イベントタイプ</th>
            <th>タイトル</th>
            <th>選択肢タイプ</th>
            <th>結果</th>
            <th>結果1</th>
            <th>結果2</th>
            <th>結果3</th>
            <th>結果4</th>
            <th>結果5</th>
            <th>結果6</th>
            <th>結果7</th>
            <th>結果8</th>
            <th>結果9</th>
            <th>結果10</th>

            {% for cdm in cardMessageMaster %}
            <tr>
                <td>{{ cdm.id }}</td>
                <td>{{ cdm.cardMessageMasterId }}</td>
                <td>{{ cdm.cardTypeNo }}</td>
                <td>{{ cdm.cardTypeName }}</td>
                <td>{{ cdm.cardid }}</td>
                <td>{{ cdm.cardName }}</td>
                <td>{{ cdm.type }}</td>
                <td>{{ cdm.messageId }}</td>
                <td>{{ cdm.messageEventId }}</td>
                <td>{{ cdm.eventTypeId }}</td>
                <td>{{ cdm.eventType }}</td>
                <td>{{ cdm.title }}</td>
                <td>{{ cdm.selectType }}</td>
                <td>{{ cdm.result }}</td>
                <td>{{ cdm.result1 }}</td>
                <td>{{ cdm.result2 }}</td>
                <td>{{ cdm.result3 }}</td>
                <td>{{ cdm.result4 }}</td>
                <td>{{ cdm.result5 }}</td>
                <td>{{ cdm.result6 }}</td>
                <td>{{ cdm.result7 }}</td>
                <td>{{ cdm.result8 }}</td>
                <td>{{ cdm.result9 }}</td>
                <td>{{ cdm.result10 }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
<html>