{% load static %}
<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/uma_main.css' %}">
        <meta name="viewport" content="width=device-width, user-scale=yes, initial-scale=1.0, maximum-scale=5.0" />
    </head>
    <body>
        <input type="button" class="back-button" value="戻る" onclick="location.href='../umacomptool'">
        <h1>カードスキルマスタ検索画面({{ count }}件)</h1>
        <table border="1px">
            <th>ID</th>
            <th>カードスキルマスタid</th>
            <th>タイプ</th>
            <th>タイプ名称</th>
            <th>カードID</th>
            <th>カード名称</th>
            <th>ソート順</th>
            <th>イベントタイプ</th>
            <th>イベントタイプ名称</th>
            <th>スキル名称</th>
            <th>スキル内容</th>

            {% for cdm in cardSkillMaster %}
            <tr>
                <td>{{ cdm.id }}</td>
                <td>{{ cdm.carSkillMasterId }}</td>
                <td>{{ cdm.typeNo }}</td>
                <td>{{ cdm.typeName }}</td>
                <td>{{ cdm.cardId }}</td>
                <td>{{ cdm.cardName }}</td>
                <td>{{ cdm.sortNum }}</td>
                <td>{{ cdm.eventType }}</td>
                <td>{{ cdm.eventTypeName }}</td>
                <td>{{ cdm.skillName }}</td>
                <td>{{ cdm.skillContents }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
<html>