{% load static %}
<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/uma_main.css' %}">
        <meta name="viewport" content="width=device-width, user-scale=yes, initial-scale=1.0, maximum-scale=5.0" />
    </head>
    <body>
        <h1>うま便利ツールメニュー</h1>
        <input type="button" value="サポートカードマスタ" onclick="location.href='../searchcardmaster/1'" class="uma-application-button"><br/>
        <div class="div10"></div>
        <input type="button" value="カードスキルマスタ" onclick="location.href='../cardskillmaster/1'" class="uma-application-button"><br/>
        <div class="div10"></div>
        <input type="button" value="カードメッセージマスタ" onclick="location.href='../searchcardmessegemaster/1'" class="uma-application-button"><br/>
        <div class="div10"></div>
        <input type="button" value="スキルマスタ" onclick="location.href='../searchskillmaster/1'" class="uma-application-button"><br/>
        <div class="div10"></div>
        <input type="button" value="固有ボーナスマスタ" onclick="location.href='../searchuniquebonusmaster/1'" class="uma-application-button"><br/>
        <div class="div10"></div>
        <input type="button" value="白因子マスタ" onclick="location.href='../searchwhitefactormaster'" class="uma-application-button"><br/>
    </body>
<html>
