/* ---------------------------------------------------- */
/* メイン */
.navbar {
    background: pink;
    height: 60px;
}
body {
    background: turquoise;
}
.uma-title-header{
    margin:0px;
    width:500px;
}
.uma-thead-list {
    color: white;
    background: #41a2e6;
    text-align:center;
}
.uma-back-button {
    width:70px;
    background-color:lightyellow;
}
.uma-application-button {
    width:300px;
    background-color:lightskyblue;
}
.uma-big-button {
    font-size:30px;
    width:200px;
    height:50px;
    background-color:lightyellow;
}
.uma-error-message {
    color:red;
    font-size:20px;
}
/* 行列固定対応 */
.tablefix{
    overflow: auto;
    width: 100%;
    height: 600px;
}
.tablefix table{
    margin: 0;
/*
    border-spacing: 0;
*/
}
.tablefix td{
    white-space: nowrap;
/*
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
*/
/*    background: #FFF;*/
    padding: 5px;
}
.tablefix th{
    white-space: nowrap;
    border-bottom:2px solid black;
 /*
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
*/
/*    background: #f2f2f2; */
    background-color:lightskyblue;
    position: sticky;
    top: 0;
    left: 0;
}
.tablefix tr:first-child th{
/*
    border-top: 1px solid #999;
*/
}
.tablefix th:first-child{
/*
    border-left: 1px solid #999;
*/
}
.tablefix tr:first-child th:first-child{
    z-index: 1;
}
/* ---------------------------------------------------- */
/* 行交互に色変更対応 */
.tablefix table tr:nth-child(odd) td {
	background: lightyellow;
}
.tablefix table tr:nth-child(even) td {
	background: antiquewhite;
}
/* ---------------------------------------------------- */
/* 5行ごとにborderの太さ変更対応 */
.tablefix table tr:nth-child(5n+3),tr:nth-child(5n+4),tr:nth-child(5n+5),tr:nth-child(5n+6),tr:nth-child(5n+7) td {
	border-top: 2px solid black;
}
/* ---------------------------------------------------- */
/* スマホ対応 */
	/*　画面サイズが480px以下の場合ここの記述が適用される　*/
@media screen and (max-width:480px) {
    .tablefix{
        overflow: auto;
        width: 480px;
        height: 600px;
    }
}